.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    font-family: 'Josefin Sans';
    font-weight: 600;
  
    h2 {
      font-size: 23px;
      margin-bottom: 20px;
      font-family: 'Open Sans';
    }
  
    .cart-items {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
  
      .cart-item {
        display: flex;
        width: 50%;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 5px;
        box-shadow: 0 8px 16px -4px rgba(0, 0, 0, 0.6);

        .cartImage{
          display: flex;
          flex: 3;
        }
  
        img {
          width: 10rem;
          height: 10rem;
          border-radius: 5px;
          object-fit: cover;
        }
  
        .item-details {
          display: flex;
          flex: 1.5;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 0.5rem;
  
          h3 {
            font-size: 20px;
            font-family: 'Titillium Web';
          }
  
          p {
            font-size: 17px;
          }
  
          .ant-input-number {
            font-size: 1.2rem;
            width: 6rem;
          }
  
          .ant-btn {
            margin-top: 5px;
          }
  
          .total-price {
            font-size: 1.2rem;
            font-weight: bold;
          }
        }
      }
    }
  
    .cart-summary {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-size: 1.2rem;
      font-weight: bold;
      margin: 40px;
      background-color: #e6e6e6;
      padding: 10px 0;

      .checkoutBTN{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
      }

      p{
        font-family: 'Titillium Web';
        align-items: center;
        margin-bottom: 10px;
      }
    }
  }
  